body {
    background-color: #31393C;
    color: #DDDDDD;
}

h1 {
    background-color: #FDCA40;
}

a {
    color: #FDCA40;
}

a:visited {
    color: #F79824;
}

/* This is a class, you make items in the header and such this color */
.clickable:hover {
    background-color: #F79824;
}

body, html {
    height: 100%;
}